.main {
    margin: 10px;
}

.button {
    float: right;
}
body {
margin: 0;
font-family: "Lato", sans-serif;
}

.sidebar {
margin: 0;
padding: 0;
width: 200px;
background-color: #f1f1f1;
position: fixed;
height: 100%;
overflow: auto;
}

.sidebar a {
display: block;
color: black;
padding: 16px;
text-decoration: none;
}

.sidebar a.active {
background-color: #89aa04;
color: white;
}

.sidebar a:hover:not(.active) {
background-color: #555;
color: white;
}

div.content {
margin-left: 200px;
padding: 1px 16px;
height: 1000px;
}

@media screen and (max-width: 700px) {
.sidebar {
width: 30%;
height: auto;
position: relative;
}
.sidebar a {float: left;}
div.content {margin-left: 0;}
}
.action{
display: flex;
}
td{
margin: 1%;
padding: 10px;
text-align: center;
}
.action-btn{
width: 7vw;
padding: 10px;
border: none;
outline: none;
border-radius: 5px;
background: #6b6966;
color: #fffefe;
font-weight: 600;
cursor: pointer;
transition: 0.5s;
margin: 2%;
}
.form{
display: flex;
}
tr , td{
padding: 10px;
text-align: center;
border: 1px solid black;
}
table{
margin-top: 2%;
width: 40%;
border: 1px solid black;
border-collapse: collapse;
overflow: scroll;
background-color: white;
box-shadow: 0px 0px 10px #ccc;
float: right;
}
.action{
display: flex;
}
.title{
background: white;
font-size: 33px;
}
.cl2{
    width: 75%;
    float: right;
}
input{
    width: 120px;
}